--
-- PostgreSQL database dump
--

\restrict a61mXi3Fv8aiRyD3jWr4klFQLlfxB6f1EzDA86qv80acjWswe64HkrC1IdQ2rzI

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_findings; Type: TABLE; Schema: public; Owner: hornet
--

CREATE TABLE public.agent_findings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    incident_id uuid NOT NULL,
    agent character varying(50) NOT NULL,
    finding_type character varying(50) NOT NULL,
    confidence double precision NOT NULL,
    content jsonb,
    reasoning text,
    mitre_techniques character varying[],
    severity character varying(20),
    entities jsonb DEFAULT '[]'::jsonb,
    evidence jsonb DEFAULT '[]'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    tokens_consumed integer DEFAULT 0
);


ALTER TABLE public.agent_findings OWNER TO hornet;

--
-- Name: api_keys; Type: TABLE; Schema: public; Owner: hornet
--

CREATE TABLE public.api_keys (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    key_hash character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.api_keys OWNER TO hornet;

--
-- Name: events; Type: TABLE; Schema: public; Owner: hornet
--

CREATE TABLE public.events (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    event_type character varying(100) NOT NULL,
    source character varying(255) NOT NULL,
    source_type character varying(50) NOT NULL,
    severity character varying(20) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    ingested_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now(),
    processed boolean DEFAULT false,
    entities jsonb,
    raw_payload jsonb,
    incident_id uuid
);


ALTER TABLE public.events OWNER TO hornet;

--
-- Name: incident_events; Type: TABLE; Schema: public; Owner: hornet
--

CREATE TABLE public.incident_events (
    incident_id uuid NOT NULL,
    event_id uuid NOT NULL,
    added_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.incident_events OWNER TO hornet;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: hornet
--

CREATE TABLE public.incidents (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    state character varying(20) NOT NULL,
    severity character varying(20),
    confidence double precision,
    summary text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    closed_at timestamp with time zone,
    tokens_used integer,
    token_budget integer DEFAULT 50000,
    verdict character varying(50),
    priority_score double precision DEFAULT 0.0,
    impact_score double precision DEFAULT 0.0,
    degradation_mode character varying(20) DEFAULT 'FULL'::character varying,
    outcome character varying(50)
);


ALTER TABLE public.incidents OWNER TO hornet;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: hornet
--

CREATE TABLE public.tenants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    api_key_hash character varying(255) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.tenants OWNER TO hornet;

--
-- Data for Name: agent_findings; Type: TABLE DATA; Schema: public; Owner: hornet
--



--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: hornet
--

COPY public.api_keys (id, key_hash, name, is_active, created_at) FROM stdin;
558e81bc-db1e-477b-acc3-277261f97b54	hornet-test-key	test	t	2026-01-13 01:59:10.312672+00
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: hornet
--

COPY public.events (id, tenant_id, event_type, source, source_type, severity, "timestamp", ingested_at, created_at, processed, entities, raw_payload, incident_id) FROM stdin;
\.


--
-- Data for Name: incident_events; Type: TABLE DATA; Schema: public; Owner: hornet
--

COPY public.incident_events (incident_id, event_id, added_at) FROM stdin;
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: hornet
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: hornet
--

COPY public.tenants (id, name, api_key_hash, is_active, created_at) FROM stdin;
00000000-0000-0000-0000-000000000001	default	default-key-hash	t	2026-01-13 01:59:10.312672+00
\.


--
-- Name: agent_findings agent_findings_pkey; Type: CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.agent_findings
    ADD CONSTRAINT agent_findings_pkey PRIMARY KEY (id);


--
-- Name: api_keys api_keys_key_hash_key; Type: CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_key_hash_key UNIQUE (key_hash);


--
-- Name: api_keys api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: incident_events incident_events_pkey; Type: CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.incident_events
    ADD CONSTRAINT incident_events_pkey PRIMARY KEY (incident_id, event_id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: agent_findings agent_findings_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.agent_findings
    ADD CONSTRAINT agent_findings_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: events events_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: events events_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: incident_events incident_events_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.incident_events
    ADD CONSTRAINT incident_events_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: incident_events incident_events_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.incident_events
    ADD CONSTRAINT incident_events_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: incidents incidents_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hornet
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: events; Type: ROW SECURITY; Schema: public; Owner: hornet
--

ALTER TABLE public.events ENABLE ROW LEVEL SECURITY;

--
-- Name: incidents; Type: ROW SECURITY; Schema: public; Owner: hornet
--

ALTER TABLE public.incidents ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict a61mXi3Fv8aiRyD3jWr4klFQLlfxB6f1EzDA86qv80acjWswe64HkrC1IdQ2rzI

